   <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p> My name is Sina, a recent graduate from Seneca College in Software Development.
              I am an excellent team player and content expert with in-depth knowledge of development tools &amp; languages.
          </p>   
            <hr style="background-color: #f4d160;">
          <p>
            Apart from being a software developer, I enjoy most of my time being outdoors. In the winter, I am a novice ice climber. During the warmer months, I enjoy mountain biking, climbing, roller-blading and kayaking.
            When forced indoors, I am an avid swimmer and I spend a large amount of my free time playing piano and enhancing my development skills by learning new languages.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="assets/img/profile-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Software Programmer &amp; Web Developer.</h3>
            <p class="font-italic">
              Motivated, talented individual with strong communication skills and team spirit who loves to learn and solve problems!         
            </p>
            <hr style="background-color: #f4d160;">
            <p>
              Seeking a Junior Software Developer position in a fast-growing organization to utilize the expertise
              in software development and testing by leveraging my skills and strong ability to develop applications using C, C++ and Java.
            </p>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->
