   <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>I am blessed to have such amazing family and friends. I am specially thankful to my beautiful girlfriend "HADIS". I love you so much :)</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="assets/img/profile-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Software Programmer &amp; Web Developer.</h3>
            <p class="font-italic">
              I can do a lot of things .... 
              Ask Hadis!
            </p>
            <hr style="background-color: #f4d160;">
            <p>
              I can let you know more about it ...
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
