   <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Software Programmer &amp; Web Developer.</h2>
     
             
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="assets/img/profile-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <div class="section-title">
            {{!-- <p class="font-italic">
              Motivated, talented individual with strong communication skills and team spirit who loves to learn and solve problems!         
            </p> --}}
              <p class="font-italic"> My name is Sina, a recent graduate from Seneca College in Software Development.
              I am an excellent team player and content expert with in-depth knowledge of development tools &amp; languages. Seeking a Junior Software Developer position in a fast-growing organization to utilize the expertise
              in software development and testing by leveraging my skills and strong ability to develop applications using C, C++ and Java.
              </p>    <hr style="background-color: #f4d160;">
                <p class="font-italic">I studied Hospitality Management and graduated in 2014. Since then, I have worked at various hospitality firms. I learnt many things along my way and grew both personally and professionally. But, I had a gut feeling that I wanted to try something more robust and challenging. As a child, I enjoyed assembling things and tried to build something out of them, and now as an adult, I sheer joy in making things differently. I have had a great interest in coding for quite a long time. Therefore, I pursued a second career in Software Development. Programming is fun. It gratifies creativity,
             and it fascinates me to work with complex puzzle-like objects to connect pieces and watch them work and built from the beginning. </p>
            </div>
              <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#myModal" style="float:left" id="conme">Contact Me</button>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->
