<header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Sina Monajemi</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="/"><i class="bx bx-home"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="#" class="github"><i class="bx bxl-github"></i></a>
        </div>
      </div>
    </div>
  </header><!-- End Header -->     