     <footer id="footer">
          <div class="social-links text-center" style="font-size: 1.75em;">
          <a href="https://www.linkedin.com/in/sina-monajemi-a264a0202/" target="g" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="https://github.com/smonajemi?tab=repositories" target="g" class="linkedin" ><i class="bx bxl-github"></i></i></a>
        </div>
      </footer>