      <footer id="footer">
          <div class="social-links text-center" style="font-size: 1.85em;">
            <a href="https://www.linkedin.com/in/sina-monajemi-a264a0202/" target="g" ><i class="bx bxl-linkedin" id="sm1"></i></a>
            <a href="https://github.com/smonajemi?tab=repositories" target="g" ><i class="bx bxl-github" id="sm2" ></i></a>
          </div>
      </footer>