  <header id="header">
    <div class="d-flex flex-column">
      <div class="profile">
        <a href="/admin" target="g" class="Admin"> <img src="assets/img/profile-img.jpg" alt="" class="img-fluid"></a>
        <h1 class="text-light"><a href="index.html">Sina Monajemi</a></h1>
        <div class="social-links mt-3 text-center">
          {{!-- <a href="/admin" target="g" class="Admin"><i class="bx bx-user"></i></a> --}}          
          <a href="https://www.linkedin.com/in/sina-monajemi-a264a0202/" target="g" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="https://github.com/smonajemi?tab=repositories" target="g" class="linkedin" ><i class="bx bxl-github"></i></a>
        </div>
      </div>
      <nav class="nav-menu">
        <ul id="mainNav">
          <li><a href="#hero"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          {{!-- <li><a href="#portfolio"><i class="bx bx-book-content"></i> Portfolio</a></li> --}}
          {{!-- <li><a href="#services"><i class="bx bx-server"></i> Services</a></li> --}}
          {{!-- <li><a href="#contact"><i class="bx bx-envelope"></i> Contact</a></li> --}}
        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->