 <!-- ======= Resume Section ======= -->
 <section id="resume" class="resume">
  <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>The only way to do great work is to love what you do. If you haven't found it yet, keep looking. Don't settle. 
          <br> <i style="font-size: 12px;">― Steve Jobs</i></p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">

          <h3 class="resume-title">Education</h3>
           <div class="resume-item">
              <h4>Google Cloud Platform Fundamentals: Core Infrastructure</h4>
              <h5>MAR. 2021 - Present</h5>
              <p><em>Offered by Google</em></p>
          
            </div>
              <div class="resume-item">
              <h4>Machine Learning</h4>
              <h5>FEB. 2021 - Present</h5>
              <p><em>Offered by Stanford University</em></p>
          
            </div>
            <div class="resume-item">
              <h4>Software Development &amp; Programming</h4>
              <h5>2021</h5>
              <p><em>Seneca College of Arts and Technology, Toronto, ON</em></p>
        
            </div>
              <div class="resume-item">
                <h4>Hospitality Management &amp; Restaurants</h4>
                <h5>2014</h5>
                <p><em>Seneca College of Arts and Technology, Markham, ON</em></p>
              </div>
                <div class="resume-item">
                  <h4>High School Diploma</h4>
                  <h5>2011</h5>
                  <p><em>Holy Heart of Mary High School, St. John's, NL</em></p>
                </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
              
            {{!-- <div class="container"></div> --}}
              <div class="resume-item">
              <h4>Freelancer</h4>
              <h5>2020 - 2021</h5>
              <p><em>Toronto, ON</em></p>
              <ul>
                <li>I did nothing</li>   
              </ul>
            </div>
            <div class="resume-item">
              <h4>Developer</h4>
              <h5>2020</h5>
              <p><em>COVID-19 Business Response Hackathon - Seneca College of Arts and Technology, Toronto, ON</em></p>
              <ul>
                <li>Remote application for digital receipts and expense payments</li>   
              </ul>
            </div>

            <div class="resume-item">
        
              <div class="input-con">
              <h4 style="padding-left: 35px;">Hospitality Experience</h4>
              <a class="swti" data-toggle="collapse" data-target="#demo"> 
                  <div id="toggleSwitch"></div>
                  <div id="toggleSwitch"></div>
                  <div id="toggleSwitch"></div>
              </a>  
              </div>
              <br>
                <div class="collapse"  id="demo">
                 <div class="resume-item">
                    <h4>Le Germain Hotel</h4>
            
                    <h5>2018 - Present</h5>
                    <p><em>Guest Services Agent - Part-Time, Toronto, ON</em></p>
                    <ul>
                         <li>Assisted managers in performing daily duties</li>
                         <li>Trained new employees</li>
                         <li>Handled complaints and rsolved the problems relating to customer satisfaction</li>
                    </ul>
                    <br>
                    <h5>2017 - 2018</h5>
                    <p><em>Night Auditor, Toronto, ON</em></p>
                    <ul>
                      <li>Prepared daily reports and distributed as directed</li>
                      <li>Ensured adequate communcation the following morning to all necessary departments</li>
                      <li>Developed and maintained positive guest relations through attentive service</li>
                    </ul>
                </div>
              
                <div class="resume-item">
                    <h4>Trump International Hotel and Tower</h4>
            
                    <h5>2016 - 2017</h5>
                    <p><em>Front Desk Agent, Toronto, ON</em></p>
                    <ul>
                        <li>Maintined bookings, and vacancies, financial records, and reports</li>
                        <li>Held immense reponsibility to make sure all levels of operation ran smoothly</li>
                        <li>Assisted hotel guests with various requests and concerns</li>
                    </ul>
                </div>

                <div class="resume-item">
                    <h4>Fairmont Hotels and Resorts</h4>
    
                    <h5>2015 - 2016</h5>
                    <p><em>Regional Sales Coordinator, Jasper, AB</em></p>
                    <ul>
                          <li>Processed sales related proposals and contracts in a timely manner</li>
                          <li>Communicated daily with the assigned sales managers to provide qualified prospects and leads</li>
                          <li>Prepared month-end sales reports for senior managers</li>
                    </ul>
                        <br>
                       <h5>2014 - 2015</h5>
                    <p><em>Night Manager, Jasper, AB</em></p>
                    <ul>
                        <li>Maintained a comprehensive and detailed record of all 442 guest rooms using Oracle's Opera software</li>
                        <li>Organized, confirmed, processed, and conducted all guest check ins/outs, room reservations, requests, changes, and cancellations</li>
                        <li>Verified customers' credit, and collected payments</li>
                     </ul>
                </div>
           
                {{!-- <div class="resume-item">
                    <h4>Work Placement Abroad</h4>
                    <h5>2014</h5>
                    <p><em>South Africa: KwaZulu-Natal, Johannesburg &amp; Cape Town</em></p>
                    <ul>
                        <li>I did nothing</li>
                    </ul>
                </div> --}}
                </div>

            </div>         
          </div>            
      </div>
</div>
</section><!-- End Resume Section -->
{{>footer}}
