<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{{title}}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- rest CSS Files -->
  <link href="assets/rest/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/rest/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/rest/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/rest/venobox/venobox.css" rel="stylesheet">
  <link href="assets/rest/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/rest/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/error.css" rel="stylesheet">
  <!-- =======================================================
  * Template Name: iPortfolio - v1.5.1
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
    {{{body}}}

      <!-- Rest of the files -->
  <script src="assets/rest/jquery/jquery.min.js"></script>
  <script src="assets/rest/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/rest/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/rest/php-email-form/validate.js"></script>
  <script src="assets/rest/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/rest/counterup/counterup.min.js"></script>
  <script src="assets/rest/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/rest/venobox/venobox.min.js"></script>
  <script src="assets/rest/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/rest/typed.js/typed.min.js"></script>
  <script src="assets/rest/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="assets/js/mail.js"></script>
</body>


</html>