{{!-- <div class="temp_loader_wrapper">
	<div class="temp_loader">
		<img src="assets/img/loader.gif" alt="">
	</div>
</div> --}}

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				{{!-- <h1>4<span></span>4</h1> --}}
			</div>
			<h3>THANK YOU!</h3>
			<h3>You can also download my resume</h3>
			<h2>Your Message </h2>
			<h2>Would you like to send a copy of your message to your email?</h2>
			   <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="/" target="g" style="margin: 5px;" id="">
                        <i class="fas fa-download mr-2"></i>Download Resume</a>
                </div>
			<br>
			<a href="/">Back to homepage</a>
		</div>
	</div>


