	<div id="finalp">
		<div class="finalp">
			<div class="finalp-404">
				{{!-- <h1>4<span></span>4</h1> --}}
			</div>
			<h3>THANK YOU!</h3>
			<h3>You can also download my resume</h3>
			   <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="/" target="g" style="margin: 5px;" id="">
                        <i class="fas fa-download mr-2"></i>Download Resume</a>
                </div>
			<br>
			<a href="/">Back to homepage</a>
		</div>
	</div>


