
  <!-- ======= Mobile nav toggle button ======= -->
  {{!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button> --}}

  <!-- ======= Header ======= -->
  {{>nav}}

    <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1 style=""></h1>
        {{!-- <p style="float: left;">I'm <span class="typed" data-typed-items="Sina Monajemi"></span></p> --}}
    </div>
  </section><!-- End Hero -->

    <main id="main">

      {{>about}}
      {{>skills}}
      {{>resume}}
      {{!-- {{>portfolio}} --}}
      {{!-- {{{services}}} --}}
      {{>contact}}
      <footer id="footer">
          <div class="social-links text-center">
          <a href="https://www.linkedin.com/in/sina-monajemi-a264a0202/" target="g" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="https://github.com/smonajemi?tab=repositories" target="g" class="linkedin" ><i class="bx bxl-github"></i></a>
        </div>
      </footer>

    </main>

