  <!-- ======= Header ======= -->
  {{>nav}}

    <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1 style=""></h1>
        {{!-- <p style="float: left;">I'm <span class="typed" data-typed-items="Sina Monajemi"></span></p> --}}
    </div>
  </section><!-- End Hero -->

    <main id="main">
      {{>about}}
      {{>skills}}
      {{>resume}}
      {{>contact}}
    </main>

